<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Selector Pseudo-Clase</title>
    <style>
        /*Link no visitado */
        a:link{
            color:red;  
        }
        /*Link visitado*/
        a:visited{
            color:greenyellow;  
        }
        /*Cursor sobre el link*/
        a:hover{
            color:palevioletred;     
        }

        /*Link Seleccionado*/
        a:active{
            color: blue;
        }
    </style>
</head>
<body>
    <p><b><a href="http://www.google.com."> Google</a></b></p>
    
</body>
</html>