<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Colores</title>
</head>
<body style="background-color: skyblue;">
    <!--Etiquetas con colores-->
    <!--Color al encabezado-->
    <h1 style="background-color: aquamarine;">Encabezado</h1>
    <!--Color al encabezado y letra-->
    <h2 style="background-color:coral; color: white;">Encabezado 2</h2>
    <h2 style="background-color: rgb(209, 29, 29);">Color con RGB </h2>

    <!-- Etiqueta div para hacer un contenedor-->
    
    <div style="background-color:salmon;">
        <!--Color con transparencia-->
        <br>
        <h2 style="background-color: rgb(209, 29, 29, 0.4);">Transparencia </h2>
        <br>

    </div>

</body>
</html>