<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reto 1</title>
</head>
<body style="background-color: wheat;">
    <div style="background-color: purple;">

        <h1 style="background-color: black; color: white; border-color: red; border-style: solid; border width: 5px;">Listado de personas</h1>
    <table>
        <!-- Tr es la etiqueta de una  fila-->
        <tr style="color: white;">
            <!--Th es la etiqueta de una columna Ejemplo: th*3 -->

            <th>Nombre</th>
            <th>Apellido</th>
            <th>Edad</th>

        </tr>
        <!--Tbody es la etiqueta del cuerpo de la tabla-->
        <tbody>
            <tr>
                <!--Td es un campo normal de la tabla-->
            <td>Ana</td>
            <td>Uribe</td>
            <td>22</td>
            </tr>

            <tr>
                <td>Walter</td>
                <td>Whiter</td>
                <td>50</td>

            </tr>
        </tbody>
    </table>
    <p style="background-color: darkslategrey; color: darkorange; text-align: right;">12345</p>
    </div>

    
    


   
</body>
</html>