<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tabla</title>
</head>
<body>
<!--Table es la etiqueta primera de una tabla-->
    <table>
        <!-- Tr es la etiqueta de una  fila-->
        <tr>
            <!--Th es la etiqueta de una columna Ejemplo: th*3 -->

            <th>Nombre</th>
            <th>Apellido</th>
            <th>Edad</th>

        </tr>
        <!--Tbody es la etiqueta del cuerpo de la tabla-->
        <tbody>
            <tr>
                <!--Td es un campo normal de la tabla-->
            <td>Ana</td>
            <td>Uribe</td>
            <td>22</td>
            </tr>

            <tr>
                <td>Walter</td>
                <td>Whiter</td>
                <td>50</td>

            </tr>
        </tbody>
    </table>
    
</body>
</html>